*{
	margin: 0px;
	padding: 0px;
}

.navbar-laravel{
	background-color: #303841;
}

body{
	background-color: #EEEEEE;
}

.middle{
	background-color: #00ADB5;
}

.navbar-brand{
	color: #FF5722;
}

.country-box{
	border-color: #00ADB5;
}

.login-header{
	background-color: #303841;
}

.login-body{
	background-color: #EEEEEE;
}